@model List<ZooModel>

<ul> Gyvunu informacija:
    @foreach(var zooModel in @Model)
    {
        <li>@zooModel.Id - @zooModel.Name - @zooModel.Description - @zooModel.Age - @zooModel.Gender</li>
    }
</ul>
