@model List<Shop>

<h3>Shops</h3>

<ul>
@foreach(var @shop in @Model)
{
    <li>@shop.Id  @shop.Name </li>
        <ul>
            @foreach(var @item in @shop.Items)
            {
                <li>@item.Name , @item.ShopId</li>

            }
        </ul>
}
</ul>